<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ lang_dir }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ title }} | {{ SITE_NAME }}</title>
    {% block head_extra %}{% endblock %}
    <!-- NOTE: Webpack will inject the CSS and icon <link> tags here. -->
</head>
<body>
{% block navbar %} {% include "_navbar.html" %} {% endblock %}
{% block content %}{% endblock %}

<!-- NOTE: Webpack will inject the JS <script> tag here. -->
</body>
</html>
